ul {
  list-style-type:none; 
  margin :30px;
}

#nav li {
  font-size : 1.2em;
  font-weight: bold;
  padding :10px;
}

#nav li a {
	color: #78909c;
	text-decoration: none;
}

#nav li .glyphicon{
  padding-right: 15px;
  padding-bottom: 20px;
}
