/* -------------- Erreurs ----------------- */

.errors{
  padding-top: 20px;
  font-size: 1em;
  float:right;
  color : #a94442;
}

.correct{
  float:right;
  padding-top: 20px;
  font-size: 1em;
  color : #66CC33;
}

/* -------------- Mise en page du submit ----------------- */

#submit
{
	background-color: #52b3da;
    color: white;
    margin-top: 10px;
}

#submit:hover
{
	color : white;
	background-color:#66CC33;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

/* -------------- Mise en page du formulaire ----------------- */

.form-control, label {
	margin-top: 10px;
}

#contact {
	margin-top: 20px;
}