body { 
margin:0; 
padding:0; 
background: url('../fonts/background.jpg') no-repeat center fixed;  
-webkit-background-size: cover; /* pour Chrome et Safari */ 
-moz-background-size: cover; /* pour Firefox */ 
-o-background-size: cover; /* pour Opera */ 
background-size: cover; /* version standardisée */ 
font-family: 'Open Sans', sans-serif;
} 

.tab-content {
  margin-top:10%;
}

#index {
  position: center;
  padding: 400px 400;
  text-align: center;
  }

#index p {
  font-size: 240px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}


#index a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

#index a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
  text-decoration: none;
}

