
/* -------------- Main ----------------- */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
  font-size: 1.2em;
}

/* -------------- Formulaires MODIFICATION ----------------- */


#modifB, #modifBP 
{
	background-color: #52b3da;
    color: white;
}

#modifB:hover, #modifBP:hover
{
	color : white;
	background-color:#66CC33;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}


/* Bouton file nested */


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-group{
margin-top: 30px;
}

/* -------------- Erreurs ----------------- */

.errors{
  padding-top: 10px;
  float:right;
  color : #a94442;
}

.correct{
  float:right;
  padding-top: 10px;
  color : #66CC33;
}


