


.start1 {
  position: center;
  padding: 400px 400;
  text-align: center;
  }

.start1 p {
  font-size: 240px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.start1 a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.start1 a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

